# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TV8DM1rIa4KmrpJFjSGSHU4NU2uUJxswFC0vSbayZ4zSkjPe2fpDeVpADqwI7s4mOQb32GCMn8CX8qaJbk115B900a3aik9mG

# AI & Maps Configuration
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
VITE_GOOGLE_MAPS_API_KEY=
# Alternative name for Vercel users
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
